.field {
    background-image: url('images/field.jpg');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    

.paragraphs {
    background-color: blanchedalmond;
    padding: 2px;
    opacity: 0.8;
    border-radius: 10px;
    border: 1px groove;
    border-color: antiquewhite;
    max-width: 900px;  
}

.headers {
    background-color: rgb(178, 223, 172);
    padding: 2px;
    opacity: 0.8;
    border-radius: 10px;
    border: 1px groove;
    border-color: antiquewhite;
    max-width: 900px;
}

.video {
    position: relative;
    padding-bottom: .5%;
    overflow: hidden;
    max-width: 150%;
    align-content:baseline;
}

.footer {
    position: relative;
    z-index: 4;
  }

.image {
    position: relative;
    width: 50%;
    height: 20%;
    object-fit: cover;
    border-style: groove;
    border-color:rgb(233, 195, 114);
    border-radius: 1%;
    border-width: 1px;
    opacity: .9;
    align-content: baseline;
  }

.backgroundimage {
    background-image:url(images/poppy.jpg);
    background-position:right;
    width:700px;
    height:400px;
    width: 50%;
    height: 20%;
    object-fit: cover;
    border-style: groove;
    border-color:rgb(233, 195, 114);
    border-radius: 1%;
    border-width: 1px;
    opacity: .5;
}